.category {
    &__container {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        padding: 5px 10px;
        background-color: #323234;
        border-radius: 5px;
        font-weight: bold;
        margin-right: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        user-select: none;
        transition: .3s;

        &:hover {
            background-color: lighten($color: #323234, $amount: 10);
            transition: 0s;
        }
        &:active {
            background-color: darken($color: #323234, $amount: 5);
        }

        &--active {
            background-color: $purple !important;
        }

    }
}